Repository lucas-flowers/snutree2: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, rst-lint, yamllint

flake8:
  name: Lint Python with flake8
  entry: flake8
  language: system

rst-lint:
  name: Lint RST with rst-lint
  entry: rst-lint
  language: system

yamllint:
  name: Lint YAML with yamllint
  entry: yamllint
  language: system
  args:
  - --strict

Update pyproject from template
  pyproject.toml
Due: none

Update all dependencies
  poetry.lock
  pyproject.toml
Due: none

Run autoformatters
  snutree/api.py
  snutree/model/entity.py
  snutree/model/member/keyed.py
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/member.py
  snutree/model/member/sigmanu/name.py
  snutree/model/member/sigmanu/pipeline.py
  snutree/model/rank.py
  snutree/model/semester.py
  snutree/model/tree.py
  snutree/reader/__init__.py
  snutree/reader/csv.py
  snutree/reader/json.py
  snutree/reader/sql.py
  snutree/tool/cycler.py
  snutree/tool/dot.py
  snutree/writer/dot.py
  stubs/networkx/__init__.pyi
  tests/approval/test_examples.py
  tests/conftest.py
  tests/model/member/sigmanu/test_affiliation.py
  tests/model/test_semester.py
  tests/tool/dot/test_dot.py
  tests/writer/test_dot.py
Due: flake8

Fix new pylint issues
  .pylintrc
  stubs/networkx/__init__.pyi
  stubs/networkx/algorithms/dag.pyi
  stubs/networkx/classes/function.pyi
Due: none

Fix mypy issues
  mypy.ini
  snutree/model/member/common.py
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/semester.py
  snutree/model/tree.py
  tests/model/test_semester.py
Due: flake8

Fix __str__ for Status
  snutree/model/member/sigmanu/member.py
Due: flake8

Change seed
  examples/public/sigmanu_basic/config.py
  examples/public/sigmanu_basic/sigmanu_basic.dot
Due: flake8

Switch to pip-compile
  .gitignore
  poetry.lock
  pyproject.toml
  requirements.in
  requirements.txt
Due: none

Update requirements
  requirements.in
  requirements.txt
Due: none

Run black
  snutree/api.py
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/rank.py
  snutree/model/semester.py
  snutree/reader/__init__.py
  snutree/tool/dot.py
Due: flake8

Fix mypy changes
  snutree/api.py
  snutree/model/member/common.py
  snutree/model/member/keyed.py
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/pipeline.py
  tests/model/test_semester.py
Due: flake8

Delegate a flake8 rule to black
  .flake8
Due: none

Update Semester for new pydantic version
  snutree/model/semester.py
Due: flake8

Add self type to entity
  snutree/model/entity.py
Due: flake8

Remove broken BaseMember stuff
  snutree/model/member/common.py
Due: flake8

Update pyrightconfig
  pyrightconfig.json
Due: none

Use TypeAdapter instead of parse_obj_as
  snutree/model/member/sigmanu/pipeline.py
Due: flake8

Update affiliation list for pydantic v2
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/member.py
Due: flake8

Update chapterid for pydantic v2
  snutree/model/member/sigmanu/affiliation.py
Due: flake8

Make parsing of affiliation automatic
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/member.py
Due: flake8

Fix bugs
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/member.py
  snutree/model/member/sigmanu/pipeline.py
  snutree/model/semester.py
Due: flake8

Just annotate chapter IDs
  snutree/model/member/common.py
  snutree/model/member/sigmanu/affiliation.py
  snutree/model/member/sigmanu/member.py
Due: flake8

Move deps to pyproject.toml
  pyproject.toml
  requirements.in
  requirements.txt
Due: none

Add basic CLI
  bin/snutree
  snutree/api.py
Due: flake8

Add self as dev dependency
  pyproject.toml
  requirements.txt
Due: none

Remove unnecessary __init__ files
  examples/public/keyed/__init__.py
  examples/public/sigmanu_basic/__init__.py
Due: flake8

Update gitignore
  .gitignore
Due: none

Ignore examples dir in pytest
  pytest.ini
Due: none

Use pyproject to generate script
  pyproject.toml
  snutree/cli.py
Due: flake8

Remove stubs from packages
  pyproject.toml
Due: none

Commit uncommitted code
  brothers_not_knights.csv
  config.yaml
  config2.yaml
  out.dot
  project.dot
  setup.py
  sigmanu.csv
  snutree.py
  todo.txt
Due: flake8, yamllint

Simplify
  snutree/model/member/sigmanu/member.py
Due: flake8

Use match statement
  snutree/model/tree.py
Due: flake8

Remove an ignore
  snutree/model/semester.py
Due: flake8

M->MemberT
  snutree/api.py
  snutree/model/entity.py
  snutree/model/tree.py
  snutree/writer/dot.py
Due: flake8

Fix type issue
  snutree/cli.py
Due: flake8

Move dev deps to deps for dev
  pyproject.toml
  requirements.txt
Due: none

Move type ignores to line level from module level
  snutree/reader/sql.py
Due: flake8

Path conditions:
  flake8: any of: \.py$
  rst-lint: any of: \.rst$
  yamllint: any of: \.(yaml|yml)$
