Repository lucas-flowers/snutree2: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, rst-lint, yamllint

flake8:
  name: Lint Python with flake8
  entry: flake8
  language: system

rst-lint:
  name: Lint RST with rst-lint
  entry: rst-lint
  language: system

yamllint:
  name: Lint YAML with yamllint
  entry: yamllint
  language: system
  args:
  - --strict

Add py.typed marker
  snutree/py.typed
Due: none

Add allow_agent to ssh config
  snutree/reader/sql.py
Due: flake8

Move sigmanu config out of examples
  .gitignore
  examples/keyed/config.py
  examples/keyed/keyed.dot
  examples/keyed/keyed.json
  examples/public/__init__.py
  examples/public/sigmanu_basic/config.py
  examples/public/sigmanu_basic/sigmanu.csv
  examples/public/sigmanu_basic/sigmanu_basic.dot
  tests/approval/test_examples.py
Due: flake8

Add gitleaks to precommit
  .pre-commit-config.yaml
Due: yamllint

Add missing license
  LICENSE
Due: none

Move from_* to config class + add seed arg
  snutree/api.py
  snutree/cli.py
  tests/approval/test_examples.py
Due: flake8

Pass seed down to config
  snutree/api.py
  snutree/cli.py
  tests/approval/test_examples.py
Due: flake8

Fix broke import
  requirements.txt
Due: none

Add note about dev dependency
  pyproject.toml
Due: none

Allow for multiple writers
  examples/keyed/config.py
  snutree/api.py
  snutree/cli.py
  tests/approval/test_examples.py
Due: flake8

Output bytes instead of str
  snutree/api.py
  snutree/writer/dot.py
  tests/approval/test_examples.py
Due: flake8

Separate writers from writers config
  examples/keyed/config.py
  snutree/api.py
Due: flake8

Centralize formats
  snutree/api.py
  snutree/cli.py
Due: flake8

Add pdf writer
  pyproject.toml
  snutree/api.py
  snutree/writer/pdf.py
Due: flake8

Write to buffer which expects binary data
  snutree/cli.py
Due: flake8

Print `dot` stderr when it errors out
  snutree/writer/pdf.py
Due: flake8

Path conditions:
  flake8: any of: \.py$
  rst-lint: any of: \.rst$
  yamllint: any of: \.(yaml|yml)$
